<div class="ui segment">
  <div class="header">
    <h3>Task List</h3>
  </div>
  <div class="ui centered content">
    <div class="ui input action">
      <input ng-model="main.newTaskTitle" type="text" />
      <button class="ui button icon" ng-click="main.addTask()">
        <i class="icon plus"></i>
      </button>
    </div>

  </div>
  <div class="ui content">
    <div class="ui celled list">
      <div ng-repeat="task in main.tasks" class="item">
        <div class="content">
          <div class="header">
            {{task.title}}
          </div>
          <input type="checkbox" ng-click="main.updateTask(task)" ng-model="task.complete"/>
          Completed
        </div>
        <div class="right floated content">
          <div class="ui button">Delete</div>
        </div>
      </div>
    </div>
  </div>
</div>
